{% extends 'base/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Login</h3>
<fieldset id="login">
  
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {{form|crispy}}

      <button type="submit">Login</button>
  </form>
</fieldset>

{% endblock content %}
